html {
    font-family:'Courier New', Courier, monospace;
    font-size: 62.5%px;
}

#contact input {
    width: 25%;
    margin: 10px;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 8px;
    display: block;
}