#menuBG {
    width: 600px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 600px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
    float: left;
}

.center {
    width: 200px;
    height: 200px;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 0px auto;
    width: 100px;
    height: 40px;
    display: block
}

body {
    font-family: 'VT323', monospace;
    background-color: #131D24;
}

h1 {
    font-family: 'VT323', monospace;
    color: #FDA53C;
    text-align: center;
}

h3 {
    font-family: 'VT323', monospace;
    color: #9FE3BC;
}

div {
    font-family: 'VT323', monospace;
    color: #72AD8C;
}